@model IEnumerable<_2014214472_ENT.Parabrisas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Parabrisas</h2>

<p>
    @Html.ActionLink("Create new", "Create")
</p>
<table id="tbl_parabrisa" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Número de Serie</th>
            <th>Editar</th>
            <th>Detalles</th>
            <th>Eliminar</th>

        </tr>
    </thead>

    <tbody></tbody>
    @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumSerie)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumSerie)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ParabrisasId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ParabrisasId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ParabrisasId })
                </td>
            </tr>
        }*@
</table>

@section scripts
{
    <script>
        $(document)
            .ready(function () {
               var table = $("#tbl_parabrisa")
                    .DataTable({
                ajax: {
                    url: "/api/Parabrisas",
                    dataSrc:""
                },
                columns: [
                    { data: "NumSerie" },

                    {
                        data: "ParabrisasId",
                        render: function (data, type, parabrisa) {
                            return "<a href='/Parabrisas/Edit/" + data + "'>Actualizar</a>";
                        }
                    },
                    {
                        data: "ParabrisasId",
                        render: function (data, type, parabrisa) {
                            return "<a href='/Parabrisas/details/" + data + "'>Detalles</a>";
                        }
                    },
                    {
                        data: "ParabrisasId",
                        render: function (data) {
                            return "<a class='btn btn-primary' href='/Parabrisas/Delete/" + data + "'>Borrar</a>";
                        }
                    },

                ]

            });
        });
    </script>
}


